<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1}]')
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_time_cx1" data-view="Graph" data-title="cx1.dyntld.net" style="background-color:#ff7700"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_time_cx3" data-view="Graph" data-title="cx3.dyntld.net" style="background-color:#ff7710"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_time_cx_ns" data-view="Graph" data-title="cx_ns.anycast.nic.cx" style="background-color:#ff7720"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_time_cx_isc" data-view="Graph" data-title="sns-pb.isc.org" style="background-color:#ff7730"></div>
    </li>
    </li>
  </ul>
</div>
