<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pi" data-view="Graph" data-title="pi cpu idle" style="background-color:#007700"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pi2" data-view="Graph" data-title="pi2 cpu idle" style="background-color:#007710"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pi3" data-view="Graph" data-title="pi3 cpu idle" style="background-color:#007720"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="onion" data-view="Graph" data-title="onion cpu idle" style="background-color:#007730"></div>
    </li>
    </li>
  </ul>
</div>
